body{
	max-width: 100%;
	background-color: #f9fafc;
	/*background-image: url('https://66.media.tumblr.com/226013296f378117bb506192f8982808/tumblr_inline_mkjkwp5xlN1qz4rgp.png');*/
	background-position: top-right;
	background-repeat: repeat;
	margin-top: 6rem; margin-left: 15rem; margin-right: 0rem;
}
header{
	position: fixed;
	width: 100rem;
	height: 6rem;
	top: 0rem; left: 15rem; right: 0px; bottom: 0px;
	overflow: initial;
	z-index: 500;
	background-color: #f9fafc;
	object-fit: contain;
	/*border-bottom: 5px solid #681456;*/
}
header a, .sidenav a{
	float: left;
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem 4rem 0.5rem 0.5rem;
	font-size: 15px;
	font-family:  'Questrial', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}
header .searchbar{
	display: inline-block;
	float: left;
	margin-top: 2.5rem;
	margin-left: 3rem;
	width:17rem;
	border-bottom: 3px solid #ccc;
}
header button[type=submit]{
	float: left;
	padding: 6px 10px;
	font-size: 17px;
	border: none;
	cursor: pointer;
	display: inline-block;
	position: relative;
	height:2.5rem;
	width: 2.5rem;
	background-color: #f9fafc;
}
header input[type=text]{
	float: left;
	padding: 1rem;
	width:12rem;
	height: 0.3rem;
	font-family: 'Maven Pro', sans-serif;
	font-size: 15px;
	display: inline-block;
	position: relative;
	border: none;
	background-color: #f9fafc;
}
header button.back{
	top:3rem;
	float: right;
	height: 1 rem;
	padding: 0.3rem;
	background: none;
	border: none;
	left:68rem;
	font-size: 30px;
	position: absolute;
	color: #000;
}

header a:hover, .sidenav a:hover{
	color: yellow;
}
.back:hover{
	color: #ccc;
	cursor: crosshair;
}
p.logo{
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	position: fixed;
	float: right;
	right: 2rem;
	top: 0.3rem;
	letter-spacing: -3px;
	font-size: 34px;	
}
.sidenav{
	height: 100%;
	width: 11rem;
	position: fixed;
	top:0 !important; left: 0 !important;
	background-color: #3f333f;
	padding: 2rem;
	z-index: 999;
	overflow-x: hidden;
	box-shadow: 0px 0px 15px black;
}

.dropdown {
	position: relative;
	display: inline-block;
	height: 7rem;
}

.dropdown-content {
	display: block;
	position: relative;
	background-color: #3f333f;
	align-content: center;
	z-index: 1;
	max-height: 15rem;
	max-width: 10rem;
	float: left;
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
	line-height: 0px;
	border-top: 3px solid #f72a3a;
	object-fit: contain;
}
.dropdown-content a{
	font-size: 13px;
	margin-bottom: 0.5rem;
	color: #fff;
	word-wrap: normal;
	line-height: 0rem;
	padding-right: 2rem;
	display: block;
}
/*.dropdown:hover .dropdown-content, .dropdown-content:hover{
	top: 70px;
	letter-spacing: 2px;
	display: block;
}*/

.previewbox{
	max-width: 100%;
	height: 35rem;
	position: relative;
	left:0.8rem;
	margin-bottom: 5rem;
}
.preview{
	max-width: 100rem;
	max-height: 100rem;
	overflow-x: scroll;
	white-space: nowrap; /*no idea what this does but lol it makes the horizontal scroll work*/
}
.preview_img{
	object-fit: cover; 
	width: 100%;
	max-height: 35rem;
	display: inline;
	animation: fadein 5s;
	-webkit-transition-timing-function: ease-in-out;
}
@keyframes fadein{
	0%{opacity: 0;}
	25%{opacity: 1;}
	50%{opacity: 1;}
	75%{opacity: 1;}
	100%{opacity: 0;}
}
#title{
	font-size: 35px;
	font-family: 'Bungee', cursive;
	color: #f72a3a;
	padding-left: 30px;
	margin-bottom: 3px;
}

div.gallery{
	position: relative;
	align-self: center;
	max-width: 100%;
	height: 16rem;		
	margin-left: 3rem; margin-right: 2rem;
	overflow-x: scroll;
	white-space: nowrap;
}
div.img-title{
	position: relative;
	height:16rem;
	width: 9.5rem;
	display: inline;
	float: left;
	margin-bottom: 0.5rem;
	overflow: auto;
	white-space: pre-wrap;
}
div.img-title a.title{
	font-family: 'Questrial', sans-serif;
	font-size: 13px; font-weight: bold;
	letter-spacing: .5px;
	display: block;
	text-align: center;
	margin-top: -0.5px;
	padding: 2px;
	text-decoration: none;
	color: #000;
}
img.gallery{
	height:13rem;
	width: 9rem;
	position: relative;
	display: inline-block;
	align-content: center;
	padding: 0.2rem;
	padding-bottom: 0rem;
	object-fit: cover;
}

/* Anime Poster */
div.poster-hover{
	height: 30rem;
	width: 21rem;
	position: relative;
	left:8rem; top:5rem;
	display: inline-block;
	align-content: center;
}
div.poster{
	height: 30rem;
	width: 21rem;
	position: absolute;
	left:0rem; top:0rem;
	display: none;
	background-color: #fff;
}
.poster_img{
	object-fit: contain;
	height:30rem;
	width: 21rem;
}
.poster-hover:hover .poster{
	display: inline-block;
}
div.infobox{
	position: relative;
	height: 30rem;
	width:45%;
	overflow: auto;
	left:8rem;top:5rem;
	padding-left: 1rem;
	display: inline-block;
}
div.categorybox{
	position: relative;
	top: 3rem; left: 5rem;
	max-width: 65rem;
	height: auto;
	padding: 1rem;
	overflow: auto;
}
img.categorybox{
	height: 12.8rem;
	width: auto;
	position: relative;
	padding-left: 10px;
	display: inline;
	padding: 10px;
}

img.gallery:hover, img.categorybox:hover/*, img.gallery2:hover*/{
	opacity: 0.6;
}
h1{
	font-family: 'Questrial', sans-serif !important; 
	font-size: 50px !important;
	margin-bottom: 3px ;
	margin-top: 0px;
	color: #f72a3a !important;
}
h2{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin-top: 0px;
	color: #ccc;
}
h3{
	font-family: 'Ubuntu', sans-serif !important;
	font-size: 18px;
	color:#681456 !important;
	margin-bottom: 3px;
	margin-top: 0px;
	top: 2rem;
}
h3.score-rank{
	font-size: 0.7rem;
	text-align: center;
	color: #ccc;
	text-transform: uppercase;
}
h3.description{
	font-family: 'Helvetica', sans-serif;
	font-weight: lighter;
	font-size: 15px;
}
div.score-rank{
	height: 3.8rem;
	max-width: 7rem;
	display: inline-flex;
	position: relative;
	padding-left: 3rem;
}
.yr{
	font-size: 24px;
	color: #ccc;
}
.score-rank-data{
	font-size: 2rem;
	color: #f99a2c;
	text-align: center;
}
.data{
	padding-left: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #f99a2c;
}
h3.description a.searchres{
	font-family: 'Questrial', sans-serif;
	color: #681456;
	text-decoration: none;

}
footer{
	height:100px;
}

